*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.border-radius{
  border-radius:1rem 0rem 1rem 0rem !important;
  background-color: #66c3cf !important;
  
}
.border-radius:hover{
  background-color: #66c3cf !important;
}
.Heading-text{
  color: #3195a2;
}
.textR{
  text-align: right;
}
.textR span{
  color:red;
}