*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #252b25 !important;
}

.border-radius{
  border-radius:.2rem .2rem .2rem .2rem !important;
  background-color: #207883 !important;
  color:#fff !important
  
}
.border-radius:hover{
  background-color: #66c3cf !important;
  color:#000 !important
}
.Heading-text{
  color: #207883;
}
.textR{
  text-align: right;
}
.textL{
  text-align: center;
}
.textRT{
 margin-top: -1rem !important;
 text-align: right;
}
.textR span{
  color:red;
}
.textL span{
  color:red;
}
.textRT span{
  color:red;
}

.form-select{
  display: block;
   
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* .borderR{
  border:2px dashed black;
  padding:10px;
  width:50%;
  height:400px;
  margin: auto;
  border-radius: 10px;
} */

.containerR{
  position: relative;
  top:3rem;
  border: 2px solid rgb(27, 196, 252);
  border-radius: 10px;
  width: 50% !important;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff !important;
}

